button {
  all: unset;
  padding: 5px;
  border: 1px solid #1E1E2E;
  border-radius: 5px;
  color: #313244;
  background-color: #CAA5F5;

  &:hover {
    background-color: white;
  }
}

.time {
  font-size: 24px;
}

.date {
  font-size: 12px;
}

.current {
  color: #D9926D;
  background-color: #3E4254;
}

.bar {
  background-color: #11111B;
  color: #86B0F4;
}

scale {
  min-height: 80px;
}

scale trough highlight {
    min-width: 5px;
}

scale trough {
    all: unset;
    background-color: violet;
    border-radius: 15px;
    padding: 0.2rem;
}

scale highlight {
    all: unset;
    background-color: rebeccapurple;
    border-radius: 15px;
    padding: 0.1rem;
}

scale slider {
  background: none;
  border: none;
  box-shadow: none;
}

.slider-container scale {
  // min-height: 0px;
  // max-height: 0px;
}
