button {
  all: unset;
  padding: 5px 15px;
  border: 1px solid #1E1E2E;
  margin: 0 5px;
  border-radius: 5px;
  background-color: #313244;
  color: #CAA5F5;
}
.current {
  color: #D9926D;
  background-color: #3E4254;
}

.workspace-button {
  padding: 10px;
  color: #89B4FA;
}

.bar {
  background-color: #11111B;
  color: #86B0F4;
}

.date-day {
  margin-right: 10px;
}
