Joplin
vlc
qBittorrent
joplin-desktop
balena-etcher
dolphinrc
kde.org
menus
mimeapps.list
nautilus
session
Thunar
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
BraveSoftware
VSCodium
dbus
chromium
cni
Insomnia
glib-2.0
gtk-3.0
